@media screen and (max-width: 1100px) {
  .container {
    flex-direction: column;

  }

  .texts {
    margin: 40px 0px;

  }

  .texts h1 {
    font-size: 2.5em;
    margin-bottom: 16px;
    text-align: center;
  }

  .texts p {
    text-align: center;
  }

  form {
    margin: 16px 0px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: url('../images/bg-intro-mobile.png');
  }
  
  .texts {
    margin: 40px 0px;

  }

  .texts h1 {
    font-size: 1.8em;
    margin-bottom: 12px;
    text-align: center;
  }

  .texts p {
    font-size: 0.8em;
    text-align: center;
  }

  form {
    margin: 16px 0px;
  }
}